*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.mainpage{
    width: 100%;
    height: 100vh;
    background-color:red;
}
.header{
   width: 100%; 
   height: 10vh;
   display: flex;justify-content:space-around;
   align-items: center;
   /* background-color: aqua; */
} 
.header nav{
    width: 70%;
    /* height: 9vh;background-color: aquamarine; */
    justify-content: space-around;
    display: flex;
    align-items: center;
}
nav a{
    font-size: 20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}
nav button{
    width: 11vw;
    height: 4vw;
    background-color: blue;
    border-radius: 2vw;

}
.data{
    width: 70%;
    height: 8vh;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 3vw;
}
